<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">
      <ul class="nav nav-pills">
        <li role="presentation" [ngClass]="{'active': activeMenuId == menu.id}" *ngFor="let menu of menus">
          <a href="#" (click)="onChangeMenu(menu)">{{menu.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div *ngIf="activeMenuId == 1">
    <api-manager></api-manager>
  </div>
  <div *ngIf="activeMenuId == 2">
    <body-mapping-parser></body-mapping-parser>
  </div>
</div>
