<div class="container-fluid">
    <div class="row">
        <div class="col-md-5">
            <!-- PAYLOAD -->
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Payload</h3></div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <ul class="nav nav-pills">
                                <li role="presentation" [ngClass]="{'active':activeMenu == menu.id}" *ngFor="let menu of menus">
                                    <a class="text-red" (click)="onChangeMenu(menu)" *ngIf="menu.error">{{menu.name}}</a>
                                    <a class="padding-5px" (click)="onChangeMenu(menu)" *ngIf="!menu.error" >{{menu.name}}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-12">
                            <span></span>
                        </div>
                        <div class="col-md-12">
                            <div class="panel panel-default">
                                <div class="panel-body" [hidden]="activeMenu != 1">
                                    <textarea #elementHeader style="width: 100%; height: 20em"></textarea>
                                </div>
                                <div class="panel-body" [hidden]="activeMenu != 2">
                                    <textarea #elementBody style="width: 100%; height: 20em"></textarea>
                                </div>
                                <div class="panel-body" [hidden]="activeMenu != 3">
                                    <textarea #elementStageVariables style="width: 100%; height: 20em"></textarea>
                                </div>
                                <div class="panel-body" [hidden]="activeMenu != 4">
                                    <textarea #elementContext style="width: 100%; height: 20em"></textarea>
                                </div>
                                <div class="panel-body" [hidden]="activeMenu != 5">
                                    <textarea #elementQueryParams style="width: 100%; height: 20em"></textarea>
                                </div>
                                <div class="panel-body" [hidden]="activeMenu != 6">
                                    <textarea #elementPathParams style="width: 100%; height: 20em"></textarea>
                                </div>
                                <div class="panel-footer">
                                    <div *ngIf="syntaxError">
                                        <label class="label label-warning">{{syntaxError}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="container-fluid">
                <!-- Template -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-5">
                                            <h3>Body Mapping Template</h3>
                                        </div>
                                        <div class="col-md-3 col-md-offset-4">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Choose Template <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu">
                                                    <li *ngFor="let template of bodyTemplates">
                                                        <a (click)="onChooseTemplate(template)">{{template.name}}</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body">
                                <textarea #elementTemplate style="width: 100%; height: 20em"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Output -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading"><h3>Event variable value</h3></div>
                            <div class="panel-body">
                                <textarea #elementOutput style="width: 100%; height: 20em"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>